<html>
	<head>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">

		<style type="text/css">
			#app {
				margin: 1em auto;
				width: 80%;
			}

			.VueTables__table th, .VueTables__table td {
				white-space: nowrap;
			}

			.VueTables__sort-icon.pull-right {
				float: none !important;
				margin-left: 1em;
			}

			.form-group label {
				margin-right: 1em;
			}

			.error {
				color: red;
			}

			[v-cloak] > * {
				display: none;
			}

			[v-cloak]:before {
				content: 'Loading ...';
			}
		</style>
		<title>Trafi dummy - Info</title>
	</head>
	<body>
		<div id="app" v-cloak>
			<v-client-table :data="responses" :columns="columns" :options="options">
				<template slot="id" slot-scope="props">
					<a target="_blank" :href="'/xml/' + props.row.id">{{props.row.id}}</a>
				</template>
				<template slot="type" slot-scope="props">
					<span>{{props.row.type}}</span>
					<span class="text-danger" v-if="props.row.error" :title="props.row.error.virheselite">({{props.row.error.virhekoodi}})</span>
				</template>
				<template slot="data.first_usage" slot-scope="props">
					<moment :date="props.row.data.first_usage"></moment>
				</template>
			</v-client-table>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/vue-tables-2@1.4.64/dist/vue-tables-2.min.js"></script>

		<script>
			Vue.use(VueTables.ClientTable, {
				footerHeadings: true,
				sortIcon: {
					'base'				: 'fa',
					'up'				: 'fa-sort-up',
					'down'				: 'fa-sort-down',
					'is'				: 'fa-sort'
				},
			}, false, 'bootstrap3');

			new Vue({
				el: '#app',
				data: {
					class2text: {},
					columns: ['id', 'type', 'data.reg', 'data.prev_reg', 'data.vin', 'data.first_usage', 'data.type', 'data.make', 'data.model'],
					options: {
						headings: {
							'id'				: 'Tiedosto',
							'type'				: 'Tyyppi',
							'data.reg'			: 'Rekisteritunnus',
							'data.prev_reg'		: 'Edellinen rekisteritunnus',
							'data.vin'			: 'Valmistenumero',
							'data.first_usage'	: 'Kayttöönottopäivä',
							'data.type'			: 'Ajoneuvoluokka',
							'data.make'			: 'Merkki',
							'data.model'		: 'Malli ja merkintä',
						},
					},
					raw_responses: {},
					loading: true,
					query: '', 
				},
				components: {
					'moment': {
						props: ['date'],
						template: '<span class="moment">\
							<div class="moment__date">{{ moment_date }}</div>\
							<div class="text-muted small moment__fromnow" v-if="moment_fromnow">({{ moment_fromnow }})</div>\
						</span>',
						data: function () {
							return {
								moment_date: null,
								moment_fromnow: null,
							}
						},
						mounted: function () {
							if (this.date) {
								this.$options.interval = setInterval(this.updateDate, 1000);
								this.updateDate();
							}
						},
						beforeDestroy: function () {
							var interval;
							if (interval = this.$options.interval) {
								clearInterval(interval);
							}
						},
						methods: {
							updateDate: function () {
								this.initMoment(this.date);
							},

							initMoment: function (date) {
								var m = moment(date, 'YYYYMMDD');

								if (m.isValid()) {
									this.moment_date = m.format('DD.MM.YYYY');
									this.moment_fromnow = m.fromNow();
								} else if (date) {
									this.initMoment(String.prototype.substring.call(date, 0, 4) + '0101');
								} else {
									this.moment_date = null;
									this.moment_fromnow = null;
								}
							}
						}
					}
				},
				computed: {
					responses: function () {
						var parent = this;

						return _.map(parent.raw_responses, function (response, key) {
							var vehicleClass = _.get(response.data, 'ajoneuvonTiedot.ajoneuvoluokka');

							if (vehicleClass) {
								vehicleClass = _.get(parent.class2text, vehicleClass, vehicleClass);
							}

							return {
								id: key,
								error: response.error,
								type: response.type,
								data: {
									'reg': _.get(response.data, 'tunnus.rekisteritunnus'),
									'prev_reg': _.get(response.data, 'tunnus.edellinenRekisteritunnus'),
									'vin': _.get(response.data, 'tunnus.valmistenumero'),
									'first_usage': _.get(response.data, 'ajoneuvonPerustiedot.kayttoonottopvm'),
									'type': vehicleClass,
									'make': _.get(response.data, 'ajoneuvonTiedot.merkkiSelvakielinen'),
									'model': _.get(response.data, 'ajoneuvonTiedot.mallimerkinta'),
								},
							};
						});
					}
				},
				mounted: function () {
					var parent = this;

					var es = new EventSource('/event/responses');

					es.addEventListener('add-response', function (event) {
						var response = JSON.parse(event.data);
						Vue.set(parent.raw_responses, response.key, response.value);
						parent.$forceUpdate();
					});

					es.addEventListener('remove-response', function (event) {
						var response = JSON.parse(event.data);
						Vue.delete(parent.raw_responses, response);
						parent.$forceUpdate();
					});

					parent.$http.get('/data.json').then(function (resp) {
						var body;

						if (resp.ok) {
							if (body = resp.body) {
								parent.raw_responses = body.responses;
								parent.class2text = body.class2text;
							}
						}

						parent.loading = false;
					});
				}
			})
		</script>
	</body>
</html>