<html>
	<head>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

		<style type="text/css">
			.VueTables .row {
				margin: 1em 0;
			}

			.VueTables__table th, .VueTables__table td {
				white-space: nowrap;
			}

			.VueTables__columns-dropdown, 
			.form-group label {
				margin-right: 1em;
			}

			.VueTables__sort-icon.pull-right {
				float: none !important;
				margin-left: 1em;
			}

			[v-cloak] > * {
				display: none;
			}

			[v-cloak]:before {
				content: 'Loading ...';
			}
		</style>
		<title>Trafi dummy - Info</title>
	</head>
	<body>
		<div id="app" v-cloak>
			<v-client-table :data="responses" :columns="columns" :options="options">
				<a slot="response_id" slot-scope="props" target="_blank" :href="'/xml/' + props.row.response_id">{{props.row.response_id}}</a>
				<moment slot="data_first_usage" slot-scope="props" :date="props.row.data_first_usage"></moment>
				<template slot="data_type" slot-scope="props">{{class2text[props.row.data_type]}}</template>
				<template slot="response_type" slot-scope="props">
					<span>{{props.row.response_type}}</span>
					<span class="text-danger" v-if="props.row.response_error.status" :title="props.row.response_error.description">
						({{props.row.response_error.status}})
					</span>
				</template>
			</v-client-table>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/vue-tables-2@1.4.70/dist/vue-tables-2.min.js"></script>

		<script>
			Vue.use(VueTables.ClientTable, {
				footerHeadings: true,
				sortIcon: {
					'base'				: 'fa',
					'up'				: 'fa-sort-up',
					'down'				: 'fa-sort-down',
					'is'				: 'fa-sort'
				},
			}, false, 'bootstrap3');

			new Vue({
				el: '#app',
				data: {
					class2text: {},
					columns: ['response_id', 'response_type', 'data_reg', 'data_prev_reg', 'data_remote_reg', 'data_vin', 'data_first_usage', 'data_type', 'data_make', 'data_model'],
					options: {
						columnsDropdown: true,
						headings: {
							'response_id'		: 'Tiedosto',
							'response_type'		: 'Tyyppi',
							'data_reg'			: 'Rek.',
							'data_prev_reg'		: 'Rek. (ed.)',
							'data_remote_reg'	: 'Rek. (ulk.)',
							'data_vin'			: 'Valmistenumero',
							'data_first_usage'	: 'Kayttöönottopäivä',
							'data_type'			: 'Ajoneuvoluokka',
							'data_make'			: 'Merkki',
							'data_model'		: 'Malli ja merkintä',
						},
						perPage: 100,
					},
					raw_responses: {},
					loading: true,
					query: '', 
				},
				components: {
					'moment': {
						props: ['date'],
						template: '<span class="moment" v-if="moment && moment.isValid()">\
							<div class="moment__date">{{ moment.format(\'DD.MM.YYYY\') }}</div>\
							<div class="text-muted small moment__fromnow">{{ moment.fromNow() }}</div>\
						</span>',
						data: function () {
							return {
								moment: null,
							}
						},
						watch: {
							'date': function (val, oldval) {
								if (val !== oldval) this.updateMoment(val);
							}
						},
						methods: {
							updateMoment: function (date) {
								this.moment = moment(date, 'YYYYMMDD');

								if (!this.moment.isValid()) {
									this.moment = moment(date, 'YYYY0101');
								}
							}
						},

						beforeDestroy: function () {
							this.moment = null;
						},
						mounted: function () {
							this.updateMoment(this.date);
						},
					}
				},
				computed: {
					responses: function () {
						return _.map(this.raw_responses, function (response, key) {
							var getError = _.partial(_.get, response.error, _);
							var getData = _.partial(_.get, response.data, _);

							return {
								'response_id': key,
								'response_error': {
									description: getError('virheselite'),
									status: getError('virhekoodi'),
								},
								'response_type': response.type,
								'data_reg': getData('tunnus.rekisteritunnus'),
								'data_prev_reg': getData('tunnus.edellinenRekisteritunnus'),
								'data_remote_reg': getData('ajoneuvonPerustiedot.ulkomainenRekisteritunnus'),
								'data_vin': getData('tunnus.valmistenumero'),
								'data_first_usage': getData('ajoneuvonPerustiedot.kayttoonottopvm'),
								'data_type': getData('ajoneuvonTiedot.ajoneuvoluokka'),
								'data_make': getData('ajoneuvonTiedot.merkkiSelvakielinen'),
								'data_model': getData('ajoneuvonTiedot.mallimerkinta'),
							};
						});
					}
				},
				mounted: function () {
					var parent = this;

					var es = new EventSource('/event/responses');

					es.addEventListener('add-response', function (event) {
						var response = JSON.parse(event.data);
						Vue.set(parent.raw_responses, response.key, response.value);
						parent.$forceUpdate();
					});

					es.addEventListener('remove-response', function (event) {
						var response = JSON.parse(event.data);
						Vue.delete(parent.raw_responses, response);
						parent.$forceUpdate();
					});

					parent.$http.get('/data.json').then(function (resp) {
						var body;

						if (resp.ok) {
							if (body = resp.body) {
								parent.raw_responses = body.responses;
								parent.class2text = body.class2text;
							}
						}

						parent.loading = false;
					});
				}
			})
		</script>
	</body>
</html>